@import '../../consts.scss';

.main {

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap-7xl
}

.buttonsContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.inputContainer {
  width: 80%;
  gap: 10px;
}

.inputLabel {
  width: 100%;
  text-align: center;
  font-weight: $weight-lg;
  font-size: $text-lg;
}