@import '../../consts.scss';

.main {
  flex-grow: 1;
  padding: $padding-2xl;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: $gap-lg;
}

.timestamp {
  color: $text-color-secondary;
  font-size: $text-s;
}

.messageContainer {
  max-width: 65%;
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: $gap-xs;
  background-color: $background-primary;
  padding: $padding-2xl;
  border-radius: $border-radius-lg;
}

.right {
  margin-left: auto;
  align-items: end;
  background-color: $background-secondary;
}

.text {
  font-size: $text-lg;
  width: fit-content;
  width: 100%;
  white-space: pre-line;
  overflow-wrap: break-word;
  overflow: hidden;
}

:not(.right) > .timestamp {
  margin-left: auto;
}

.right > .timestamp {
  margin-right: auto;
}

@media (max-width: 560px) {
  .messageContainer {
    max-width: 85%;
    width: 85%;
  }
}