@import '../../consts.scss';

.main {
  flex-grow: 1;
  padding: $padding-2xl;
  overflow-y: auto;
}

.messageContainer {
  padding: $padding-lg 0;
  width: fit-content;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: $gap-xs;
}

.right {
  margin-left: auto;
  align-items: end;
}

.text {
  font-size: $text-lg;
  width: fit-content;
  max-width: calc(80%);
  white-space: pre-line;
  overflow-wrap: break-word;
  overflow: hidden;
}