@import '../../consts.scss';

.main {
  padding: $padding-2xl;
  padding-top: 0;
}

.heading {
  font-weight: $weight-md;
  font-size: $text-lg;
  padding-bottom: $padding-2xl;
}

.commentsWrapper {
  overflow-x: auto;
  max-width: 100%;
}