@import '../../consts.scss';

.main {
  display: flex;
  align-items: center;
  gap: $gap-lg;
  cursor: pointer;
}

.text {
  flex: 1;
  font-size: $text-md;
  font-weight: $weight-lg;
  color: $text-color-secondary;
}

@media (max-width: 500px) {
  .main {
    gap: $gap-xs;
  }
}