@import '../../consts.scss';

.main {
  padding: $padding-lg;
  border-radius: $border-radius-s;
  text-align: center;
  font-weight: $weight-md;
  user-select: none;
  transition: filter 0.2s;
}

.main:hover {
  filter: brightness(0.95);
}

.main:active {
  filter: brightness(0.9);
}

.typeOne {
  background-color: $color-primary;
  color: $text-color-tertiary;
}

.typeTwo {
  background-color: $background-content;
  border: solid 1px $text-color-secondary;
}