@import '../../consts.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: $gap-xl;
  padding: $padding-2xl;
}

.image {
  border-radius: $border-radius-lg;
  width: 100%;
  max-height: 500px;
}

.commentInputContainer {
  display: flex;
  align-items: center;
  gap: $gap-lg;
  cursor: pointer;
  padding: $padding-2xl;
  padding-top: $padding-md;
}

.text {
  font-size: $text-md;
  font-weight: $weight-md;
  color: $text-color-primary;
  white-space: pre-line;
  overflow-wrap: break-word;
  overflow: hidden;
}

.input {
  flex: 1;
  font-size: $text-md;
  font-weight: $weight-lg;
  color: $text-color-secondary;
}

@media (max-width: 500px) {
  .input {
    font-size: $text-md;
  }
}

.postButtonsContainer {
  display: flex;
  gap: $gap-xl;
  align-items: center;
}