@import '../../consts.scss';

.main {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.s {
  width: 45px;
  border-radius: $border-radius-s;
}

.md {
  width: 64px;
  border-radius: $border-radius-md;
}

.lg {
  width: 130px;
  border-radius: $border-radius-lg;
}

.xl {
  width: 280px;
  border-radius: $border-radius-xl;
}