@import '../../consts.scss';

.main {
  object-fit: cover;
}

.s {
  width: 45px;
  height: 45px;
  border-radius: $border-radius-s;
}

.md {
  width: 64px;
  height: 64px;
  border-radius: $border-radius-md;
}

.lg {
  width: 130px;
  height: 130px;
  border-radius: $border-radius-lg;
}

.xl {
  width: 180px;
  height: 180px;
  border-radius: $border-radius-lg;
}

.xxl {
  width: 280px;
  height: 280px;
  border-radius: $border-radius-xl;
}

@media (max-width: 500px) {
  .md {
    width: 55px;
    height: 55px;
    border-radius: $border-radius-md;
  }
  
  .lg {
    width: 90px;
    height: 90px;
    border-radius: $border-radius-lg;
  }
  
  .xl {
    width: 150px;
    height: 150px;
    border-radius: $border-radius-lg;
  }
  
  .xxl {
    width: 210px;
    height: 210px;
    border-radius: $border-radius-xl;
  }
}