@import '../../consts.scss';

.main {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: solid 2px $text-color-secondary;
  color: $text-color-primary;
  font-size: $text-md;
  font-weight: $weight-md;
  vertical-align: middle;
}