@import '../../consts.scss';

.main {
  display: flex;
  gap: $gap-xs
}

.nameAndTagContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: $text-lg;
  font-weight: $weight-lg;
}

.tag {
  font-size: $text-md;
  font-weight: $weight-lg;
  color: $text-color-secondary;
}

.name,
.tag {
  text-overflow: clip;
  white-space: nowrap;
}