@import '../../consts.scss';

.main {
  display: flex;
  align-items: center;
  gap: $gap-md;
  padding: $padding-3xl;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.main.selected {
  background-color: $background-secondary;
  position: relative;
}

.main.selected::before {
  position: absolute;
  left: 0;
  content: '';
  height: 100%;
  width: 8px;
  background-color: $color-primary;
}
  
.image {
  width: 30px;
  filter: $filter-image-secondary;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}
  
.text {
  color: $text-color-secondary;
  font-size: $text-md;
  font-weight: $weight-lg;
}