@import '../../consts.scss';

.main {
  display: flex;
  align-items: center;
  padding: $padding-primary;
  background: $background-content;
  border-bottom: 1px solid $border-color-primary;
  gap: $gap-md;
}