@import '../../consts.scss';

.main {
  padding: $padding-2xl;
  background: $background-content;
  border-bottom: 1px solid $border-color-primary;
}

.wrapper {
  gap: $gap-md;
  display: flex;
  align-items: center;
}