@import '../../consts.scss';

.main {
  display: flex;
  flex-direction: column;
  gap: $gap-md;
  overflow-y: auto;
}

.profileWrapper {
  display: flex;
  flex-direction: column;
  gap: $gap-xs;
}

.text {
  font-size: $text-lg;
  font-weight: $weight-md;
}

.search {
  background-color: $background-primary;
  padding: $padding-lg;
  color: $text-color-primary;
  border-radius: $border-radius-s;
  font-weight: $weight-md;
  border: solid 2px $background-secondary;
  outline: none;
  width: 100%;
}

.search::placeholder {
  color: $text-color-secondary;
}

.container {
  display: flex;
  flex-direction: column;
  gap: $gap-4xl;
  height: 100%;
}

.resultsText {
  font-size: $text-md;
  color: $text-color-secondary;
  font-weight: $weight-md;
}