@import '../../consts.scss';

.main {
  padding: $padding-2xl;
  display: flex;
  flex-direction: column;
  gap: $gap-2xl;
  width: 800px;
  max-width: 80vw;
}

.container {
  display: flex;
  gap: $gap-3xl;
}

.input {
  border: none;
  outline: none;
  flex: 1;
  font-size: $text-xl;
}

.input::placeholder {
  color: $text-color-secondary;
  font-weight: $weight-lg;
}

.photoContainer {
  background-color: $background-secondary;
  padding: $padding-xl;
  padding-bottom: $padding-5xl;
  border-radius: $border-radius-lg;
  gap: $gap-xl;
  display: flex;
  flex-direction: column;
}

.buttonsContainer {
  display: flex;
  justify-content: space-around;
}

.buttonsContainer2 {
  display: flex;
  justify-content: space-between;
}

.image {
  filter: $filter-image-secondary;
  width: 50%;
  margin: 0 auto;
  display: block;
}

.picture {
  width: 50%;
  display: block;
  margin: 0 auto;
  border-radius: $border-radius-lg;
}

.editableDiv {
  outline: none;
  font-size: $text-2xl;
  width: 100%;
}

.inputContainer {
  flex-grow: 1;
  overflow-x: auto;
  font-size: $text-2xl;
}

@media (max-width: 700px) {
  .main {
    padding: 0;
  }

  .container {
    gap: $gap-2xs;
  }

  .inputContainer {
    font-size: $text-lg;
  }
}