@import '../../consts.scss';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: $gap-6xl;
  gap: $gap-6xl;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap-md;
}

.inputWrapper {
  border-bottom: solid 2px $text-color-secondary;
  padding-bottom: $gap-2xs;
  width: 100%;
}