@import '../../consts.scss';

.main {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: solid 2px $text-color-secondary;
  padding-bottom: $gap-2xs;
  color: $text-color-secondary;
  font-size: $text-md;
  font-weight: $weight-md;
}