@import '../../consts.scss';

.main {
  border-radius: $border-radius-lg;
  display: flex;
  gap: $gap-xs;
  align-items: center;
}

.nameAndTagContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  font-size: $text-lg;
  font-weight: $weight-lg;
}

.tag {
  font-size: $text-md;
  font-weight: $weight-md;
  color: $text-color-secondary;
}