@import '../../consts.scss';

.main {
  height: 42px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: $gap-xs;
}

.image {
  width: 42px;
  height: 42px;
  min-width: 42px;
  min-height: 42px;
  aspect-ratio: 1/1;
  filter: $filter-image-tertiary;
  background-size: cover;
  pointer-events: none;
  user-select: none;
  transition-duration: 150ms;
  transition-property: background-image;
}

.nLikes {
  font-size: $text-lg;
  font-weight: $weight-md;
}