@import '../../consts.scss';

.main {
  display: flex;
  padding: $padding-lg;
  position: relative;
  align-items: flex-end;
  border-top: solid $background-secondary 2px;
  gap: $gap-s;
}

.inputWrapper {
  max-height: 200px;
  overflow-y: auto;
  max-height: 200px;
  flex-grow: 1;
}