@import '../../consts.scss';

.main {
  display: flex;
  flex-direction: column;
  gap: $gap-4xl;
}

.navbarContainer {
  background-color: $background-content;
  border-radius: $border-radius-lg;
  flex-grow: 1;
  overflow-y: auto;
}