@import '../../consts.scss';

.stickyCol {
  max-height: 100vh;
  overflow-y: auto;
}

.paddingTop {
  padding-top: $padding-10xl;
}

.heightScreen {
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 767px) {
  .messagesPage {
    padding: 0 $padding-lg;
    padding-top: 100px;
  }
}

@media (max-width: 700px) {
  .messagesPage {
    padding-top: 75px;
  }
}