$background-surface: #F7F8FA;
$background-content: white;
$background-primary: #f5f5f5;
$background-secondary: #E8E8FF;

$color-primary: #1877F2;


$text-color-primary: black;
$text-color-secondary: #A3AEBE;
$text-color-tertiary: white;

$border-color-primary: #D5DCE4;

$text-5xl: 64px;
$text-4xl: 52px;
$text-3xl: 40px;
$text-2xl: 32px;
$text-xl: 24px;
$text-lg: 20px;
$text-md: 16px;
$text-s: 12px;

$border-radius-s: 7.5px;
$border-radius-md: 10px;
$border-radius-lg: 15px;
$border-radius-xl: 20px;
$border-radius-2xl: 25px;

// https://codepen.io/sosuke/pen/Pjoqqp
$filter-image-primary: invert(44%) sepia(50%) saturate(5385%) hue-rotate(201deg) brightness(95%) contrast(100%);
$filter-image-secondary: invert(68%) sepia(13%) saturate(334%) hue-rotate(176deg) brightness(101%) contrast(87%);
$filter-image-tertiary: invert(49%) sepia(77%) saturate(4747%) hue-rotate(329deg) brightness(100%) contrast(102%);

$filter-photo-1: brightness(100%) contrast(100%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
$filter-photo-2: brightness(104%) contrast(104%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(122%) sepia(0%);
$filter-photo-3: brightness(100%) contrast(107%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(165%) sepia(50%);
$filter-photo-4: brightness(105%) contrast(100%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(50%);
$filter-photo-5: brightness(110%) contrast(114%) grayscale(0%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(122%) sepia(0%);

$font-primary: 'Raleway', sans-serif;

$padding-md: 5px;
$padding-lg: 10px;
$padding-xl: 15px;
$padding-2xl: 20px;
$padding-3xl: 25px;
$padding-4xl: 30px;
$padding-5xl: 35px;
$padding-8xl: 70px;
$padding-10xl: 140px;

$gap-7xl: 80px;
$gap-6xl: 70px;
$gap-5xl: 60px;
$gap-4xl: 50px;
$gap-3xl: 40px;
$gap-2xl: 35px;
$gap-xl: 30px;
$gap-lg: 25px;
$gap-md: 20px;
$gap-s: 15px;
$gap-xs: 10px;
$gap-2xs: 5px;

$weight-lg: 700;
$weight-md: 500;

$icon-size-md: 42px;
$icon-size-s: 34px;